[credential]
	helper = manager-core
[safe]
	directory = *
[core]
	editor = nvim
[user]
	name = AndreasBrostrom
	email = andreas.brostrom.ce@gmail.com
[alias]
	root = rev-parse --show-toplevel
[init]
	defaultBranch = main
[checkout]
	defaultRemote = origin
[pull]
	rebase = true
